@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis:YEAR@1979&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.font-bitcount {
  font-family: "Bitcount Prop Single", system-ui;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-climate {
  font-family: "Climate Crisis", sans-serif;
}

.font-google {
  font-family: "Google Sans Flex", sans-serif;
}

.snake {
    stroke-dasharray: 120 2000;
    animation: snakeMove 5s linear infinite;
}

@keyframes snakeMove {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -2000;
    }
}

.alert {
  transform: translateY(120%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.alert.show {
  transform: translateX(0);
  opacity: 1;
}